<div class="course" fxLayout="column">
  <div class="header mat-elevation-z2"></div>
  <div class="container" fxLayout="row">
    <div class="navigation" fxFlex="250px" fxHide fxShow.gt-md>

      <div class="title-container">
        <mat-icon>library_music</mat-icon>
        <span class="title">Instruction</span>
      </div>

      <mat-nav-list class="nav-list">
        <h3 matSubheader>Courses</h3>
        <a class="nav-item mt0" mat-list-item>
          <h3 class="nav-title" matLine>
            <mat-icon class="icon">queue_music</mat-icon>
            <span class="text">Course1</span>
          </h3>
        </a>
        <a class="nav-item mt0" mat-list-item>
          <h3 class="nav-title" matLine>
            <mat-icon class="icon">queue_music</mat-icon>
            <span class="text">Course2</span>
          </h3>
        </a>
        <a class="nav-item mt0" mat-list-item>
          <h3 class="nav-title" matLine>
            <mat-icon class="icon">queue_music</mat-icon>
            <span class="text">Course3</span>
          </h3>
        </a>
      </mat-nav-list>
    </div>
    <div class="content-container" fxFlex fxLayout="column">

      <div class="search mat-elevation-z2" fxLayout="row">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
        </div>
        <input fxFlex type="search" placeholder="Search...">
      </div>

      <div class="course-container mat-elevation-z2" fxFlex>

      </div>
    </div>
  </div>
</div>
