<div class="content" fxLayout="column">
  <div class="header mat-elevation-z2"></div>
  <div class="container" fxLayout="row">
    <div class="title-container">
      <mat-icon>subscriptions</mat-icon>
      <span class="title">Content Manager</span>
    </div>
  </div>
</div>
